<?xml version="1.0" encoding="UTF-8"?>

<phpunit
    backupGlobals               = "false"
    backupStaticAttributes      = "false"
    colors                      = "true"
    convertErrorsToExceptions   = "true"
    convertNoticesToExceptions  = "true"
    convertWarningsToExceptions = "true"
    processIsolation            = "false"
    stopOnFailure               = "false"
    syntaxCheck                 = "false"
    bootstrap                   = "init_bootstrap.php" >

    <php>
        <ini name="intl.default_locale" value="en"/>
        <ini name="intl.error_level" value="0"/>
        <ini name="memory_limit" value="-1"/>
    </php>

    <testsuites>
        <testsuite name="ZF2 Sandbox Test Suite">
            <directory>../module/*/test</directory>
        </testsuite>
    </testsuites>

    <filter>
        <whitelist>
            <directory>../module</directory>
            <exclude>
                <directory>../module/*/config</directory>
                <directory>../module/*/test</directory>
                <directory>../module/*/view</directory>
            </exclude>
        </whitelist>
    </filter>

</phpunit>